<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:text="JMASTER.IO"></title>
<meta th:content="#{page.slogan}" name="description" />
<meta content="http://ego.net.vn" name="author" />

<link rel="stylesheet" type="text/css" th:href="@{/client/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/client/css/style.css}">
<script type="text/javascript" th:src="@{/client/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/client/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="client/common/header::header"></div>
	<main id="content">
		<div layout:fragment="content">empty</div>
	</main>
</body>
</html>