<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/common/template">
<head>
<meta charset="UTF-8" />
<title th:text="#{question.list.title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-12">
				<div class="card m-b-30">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<h4 class="mt-0 header-title" th:text="#{question.list.title}"></h4>
							</div>
							<div class="col-md-6 col-sm-6">
								<a data-toggle="modal" href="" data-target="#add-question" class="pull-right btn btn-primary"><img th:src="@{/user/images/add.png}"
									height="20" />Thêm mới</a>
							</div>
						</div>
						<hr />
						<div class="table-responsive">
							<table id="datatable" class="table table-bordered">
								<thead>
									<tr>
										<th></th>
										<th>ID</th>
										<th th:text="#{question.content}"></th>
										<th>Câu trả lời</th>
										<th th:text="#{question.questionType}"></th>
										<th th:text="#{question.created_date}"></th>
										<th th:text="#{text.option}"></th>
									</tr>
								</thead>
								
								<tfoot>
									<tr>
										<td colspan="7"><button id="delButt" class="btn btn-danger">
												<i class="fa fa-trash"></i>Xóa tất
											</button></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{question.delete.confirm.message}"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete-multi" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{question.delete.confirm.message}"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<button class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="please-select-dialog" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">Vui lòng tích chọn các dòng để xoá?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.cancel}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add-question" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span th:text="#{question.add.title}" th:remove="tag"></span>
						</h6>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" onsubmit="addQuestion();return false;">
							<div class="form-group row">
								<label class="col-sm-3 form-label">Mã số câu hỏi:</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" placeholder="Mã số câu hỏi" id="code" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="#{question.content}"></label>
								<div class="col-sm-9">
									<textarea required="required" class="form-control" th:placeholder="#{question.content}" id="content"  rows="7"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="#{question.questionType}"></label>
								<div class="col-sm-9">
									<select class="form-control" id="questionTypeId">
										<option th:value="1" th:text="#{question.questionType.multiple-choice}"></option>
										<option th:value="2" th:text="#{question.questionType.addNew}"></option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;" class="btn btn-primary waves-effect waves-light" th:text="#{text.add}"></button>
										<button type="reset" class="btn btn-warning waves-effect waves-light" th:text="#{text.reset}"></button>
										<button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="update-question" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span th:text="#{question.update.title}" th:remove="tag"></span>
						</h6>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" onsubmit="updateQuestion();return false;">
							<div class="form-group row">
								<label class="col-sm-3 form-label">Mã số câu hỏi:</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" placeholder="Mã số câu hỏi" id="code" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="#{question.content}"></label>
								<div class="col-sm-9">
									<textarea required="required" class="form-control" th:placeholder="#{question.content}" id="content"  rows="7"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="#{question.questionType}"></label>
								<div class="col-sm-9">
									<select class="form-control" id="questionTypeId">
										<option th:value="1" th:text="#{question.questionType.multiple-choice}"></option>
										<option th:value="2" th:text="#{question.questionType.addNew}"></option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button type="submit" style="width: 60%;" class="btn btn-primary waves-effect waves-light" th:text="#{text.update}"></button>
										<button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add-answer" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span th:text="#{answer.add.title}" th:remove="tag"></span>
						</h6>
					</div>
					<div class="modal-body">
						<p id="question" class="text-primary"></p>
						<hr />
						<form class="form-horizontal" onsubmit="addAnswer();return false;">
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="#{answer.list.title}"></label>
								<div class="col-sm-9">
									<textarea required="required" class="form-control" id="content" rows="7"></textarea>
								</div>
								<label class="col-sm-3 form-label" >Điểm</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" placeholder="Điểm" id="score" />
								</div>
								
							</div>
							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;" class="btn btn-primary waves-effect waves-light" th:text="#{text.add}"></button>
										<button type="reset" class="btn btn-warning waves-effect waves-light" th:text="#{text.reset}"></button>
										<button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete-answer" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">Bạn muốn xoá câu trả lời này?</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		
		var vietnameseUrl = [[@{/user/plugins/datatables/Vietnamese.json}]];
	    var url = [[@{/admin/questions}]];
	    var addURL = [[@{/admin/question/add}]];
	    var addURLAns = [[@{/admin/answer/add}]];
	    var editUrl = [[@{/admin/question/update}]];
	    var delUrl = [[@{/admin/question/delete}]];
	    var delMultiUrl = [[@{/admin/question/delete-multi}]];
	    var delAnsUrl = [[@{/admin/answer/delete}]];
	    var csrf_token = [[${_csrf.token}]];
	    var searchHolderText = [[#{question.search.content}]];
	    
	    var id = "";
	    var table;
	    $(document).ready(function() {
			table = $('#datatable').DataTable( {
				"processing": true,
		        "serverSide": true,
		        "ajax": {
		        	type:"POST",
		            url: url,
		            dataType: "json",
		            contentType: "application/json",
		            headers: {'X-CSRF-TOKEN': csrf_token},
		            data: function ( d ) {
		            	return JSON.stringify( d );
		            }
		        },
		        "lengthMenu": [10, 25, 50, 100, 200],
		        "columns": [
					{ "data": "id" },
					{ "data": "code" },
		            { "data": "content" },
		            {
		            	"className":      'details-control',
		                "orderable":      false,
		                "data":           "answerDTOs.length",
		                "defaultContent": '',
		                "render": function ( data, type, row ) {
		                	return data + ' Câu trả lời';
		                }
		            },
		            { "data": "questionType" },
		            { "data": "createdDate"},
		            { "data": "id" }
		        ],
		        "order": [1, "desc"],
		        "select": {
		        	'style': 'multi'
		        },
		        "columnDefs": [
				{
				    'targets': 0,
				    'checkboxes': {
				       'selectRow': true
				    }
				},
				{
	                "render": function ( data, type, row ) {
	                    var content = data == 1 ? "Trắc nghiệm" : "Tự nhập";
                    	return content;
	                },
	                "orderable": false,
	                "targets": 4
	            },
	            {
	                "render": function ( data, type, row ) {
	                    var content = '<button class="btn btn-primary" data-toggle="modal" data-target="#update-question" data-content="' + encodeURI(row.content)+'" data-code="' + encodeURI(row.code)+'" data-type="' + (row.questionType)+'"><i class="fa fa-pencil"></i>Sửa</button>';
	                    content +='<button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" data-content="' + encodeURI(row.content) + '"><i class="fa fa-trash"></i>Xóa</button>';
	                    if (row.questionType == 1) {
	                    	content += '<button class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#add-answer" data-content="' + encodeURI(row.content) + '"><i class="fa fa-trash"></i>Thêm câu trả lời</button>';
	                    }
			            return content;
	                },
	                "orderable": false,
	                "targets": 6
	            }
		        ],
		        "language": {
		            "url": vietnameseUrl,
		            searchPlaceholder: searchHolderText
		        }
	        });
			function format ( d ) {
				id = d.id;//set id cho dong
			    var content =  '<table class="table table-bordered" style="margin:0px;padding:0px;">';
			    content += '<tr>'+
			            '<th>ID</th>'+
			            '<th>Câu trả lời</th>'+
			            '<th>Điểm</th>'+
			            '<th>Tùy chọn</th>'+
			        '</tr>';
			    for (var key in d.answerDTOs) {
			    	var obj = d.answerDTOs[key];
			    	content += '<tr>'+
			            '<td>'+	obj.id+'</td>'+
			            '<td>' + obj.content + '</td>'+
			            '<td>'+ (obj.score) + '</td>'+
			            '<td><a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-answer" style="color:#fff" data-content=' + encodeURI(obj.content) + ' data-pid=' + obj.id + '><i class="fa fa-trash"></i>Xóa</a></td>' +
			        '</tr>';
			   	 }
		         content +=  '</table>';
		         return content;
			}
			
			$('#datatable tbody').on( 'click', 'button', function () {
				var data = table.row( $(this).parents('tr') ).data();
				id = data.id;
		    });
		 	$('#datatable tbody').on('click', 'td.details-control', function () {
		        var tr = $(this).closest('tr');
		        var row = table.row( tr );
		 
		        if ( row.child.isShown() ) {
		            row.child.hide();
		            tr.removeClass('shown');
		        }
		        else {
		            // Open this row
		            row.child(format(row.data())).show();
		            tr.addClass('shown');
		        } 
		    } );
			//triggered when modal is about to be shown
			$('#update-question').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var content = $(e.relatedTarget).data('content');
			    var type = $(e.relatedTarget).data('type');
			    var code = $(e.relatedTarget).data('code');

			    //populate the textbox
			    $("#update-question #code").val(decodeURI(code));
			    $("#update-question #content").val(decodeURI(content));
			    $("#update-question #questionTypeId").val(type);
			});
			//triggered when modal is about to be shown
			$('#confirm-delete').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var content = $(e.relatedTarget).data('content');
			    //populate the textbox
			    $(e.currentTarget).find('div.modal-body').html('<strong>' + decodeURI(content) + '</strong>');
			});
			$('#confirm-delete').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $.get(delUrl + '/' + id).then(function() {
				     $modalDiv.modal('hide');
				     table.ajax.reload(null, false );
				  });
				});
			// Handle form submission event
			var rowIds = [];
			$('#delButt').on('click', function(e){
			    var rows_selected = table.column(0).checkboxes.selected();
			    rowIds = [];
			    // Iterate over all selected checkboxes
			    $.each(rows_selected, function(index, rowId){
			       // Create a hidden element
			       rowIds.push(rowId);
			    });
			    if (rows_selected.length == 0) {
			    	$("#please-select-dialog").modal('show');
			    } else {
			    	$("#confirm-delete-multi").modal('show');
			    }
		 	});
			$('#confirm-delete-multi').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $.get(delMultiUrl + '/' + rowIds.toString()).then(function() {
					  $modalDiv.modal('hide');
					  table.ajax.reload(null, false );
			      });
			});
			
			//triggered when modal is about to be shown
			$('#add-answer').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var content = $(e.relatedTarget).data('content');
			    var score = $(e.relatedTarget).data('score');
			    //populate the textbox
			    $("#add-answer #question").html(decodeURI(content));
			});
			
			$('#confirm-delete-answer').on('click', '.btn-ok', function(e) {
				var $modalDiv = $(e.delegateTarget);
				  $.get(delAnsUrl + '/' + pId).then(function() {
				     $modalDiv.modal('hide');
				     table.ajax.reload(null, false );
				  });
				});
			
			//triggered when modal is about to be shown
			var pId = '';
			$('#confirm-delete-answer').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var content = $(e.relatedTarget).data('content');
			    pId = $(e.relatedTarget).data('pid');
			    //populate the textbox
			    $(e.currentTarget).find('div.modal-body').html('<strong>' + decodeURI(content) + '</strong>');
			});
	    });
	    
	    function addQuestion() {
			var content = $("#add-question #content").val();
			var code = $("#add-question #code").val();
			var questionTypeId = $("#add-question #questionTypeId").val();
			$.ajax({
		        url : addURL,
		        type: 'POST',
		        dataType: "json",
	            contentType: "application/json",
	            headers: {'X-CSRF-TOKEN': csrf_token},
		        data: JSON.stringify({"content": content, "questionType": questionTypeId, "code": code}),
		        success: function(){
		        	$("#add-question form")[0].reset();
		        	$('#add-question').modal('hide');
			    	table.draw();
			    },
		        error: function(){
		        }
		    });
			return false;
		}
	    
	    function addAnswer() {
			var content = $("#add-answer #content").val();
			var score = $("#add-answer #score").val();
			$.ajax({
		        url : addURLAns,
		        type: 'POST',
		        dataType: "json",
	            contentType: "application/json",
	            headers: {'X-CSRF-TOKEN': csrf_token},
		        data: JSON.stringify({"content":content,"score":score, "questionId":id}),
		        success: function(){
		        	$("#add-answer #content").val(null);
		        	$("#add-answer #score").val();
		        	$('#add-answer').modal('hide');
			    	table.ajax.reload(null, false )
			    },
		        error: function(){
		        	
		        }
		    });
			return false;
		}
	    
		function updateQuestion() {
			var code = $("#update-question #code").val();
			var content = $("#update-question #content").val();
			var questionTypeId = $("#update-question #questionTypeId").val();
			$.ajax({
		        url : editUrl,
		        type: 'PUT',
		        dataType: "json",
	            contentType: "application/json",
	            headers: {'X-CSRF-TOKEN': csrf_token},
		        data: JSON.stringify({"content":content, "questionType": questionTypeId, "id": id, "code": code}),
		        success: function(){
		        	$("#update-question form")[0].reset();
		        	$('#update-question').modal('hide');
		        	table.ajax.reload(null, false )
			    },
		        error: function(){
		        }
		    });
			return false;
		}
	</script>
	</div>
</body>
</html>